@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "./theme.css";

body {
  @apply m-0 p-0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

main {
  @apply flex flex-col min-h-screen;
}
