@import "tailwindcss";

@source "../../components/library/react/**/*.{js,ts,jsx,tsx}";

@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";
@import "@ocean-ui/tokens/tokens.css";
@import "./docs.css";
