@import "tailwindcss";

@source "../../../packages/ui-react/src/**/*.{js,ts,jsx,tsx}";

@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";
@import "@ocean-ui/tokens/tokens.css";
@import "./docs.css";
